.grid{
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding:30px 0;
}
.card{
    max-width: 320px;
    min-height: 220px;
    padding: 25px;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card h4{
    text-transform: capitalize;
}
.card p{
    padding: 15px 0;
}
@media all and (max-width:768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
@media all and (max-width:520px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}