.nav{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 50px;
    background-color: black;
    
}
.navlist{
    list-style: none;
    
}
.navlist:hover .navlink{
    color: blueviolet;
}
.navlink {
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: color .5s linear;
}